@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --lighter-cream: rgb(253, 255, 232);
    --light-cream: rgb(255, 248, 224);
    --light-cream-accent: rgb(253, 255, 154);
    --dark-cream: #f1cbb1;
}
body{
    background-color:var(--light-cream);
    padding:0px;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
#content{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}
h1,h2{
    letter-spacing:-0.75px;
}
h1{
    display:none; /* Do not display top-left header on mobile views */
}
h2{
    margin-top:0px;
    margin-bottom:0px;
}

@media (min-width: 900px){
    h1{
        text-align:center;
        margin:auto;
        padding:0px;
        margin-top:8px;
        font-size:1.75rem;
        display:inline-block;
        position:absolute;
        top:12px;
        left:16px;
        padding:0px;
        margin:0px;
    }
}
